@import url(presentation.style.css);
@import url(estudios.style.css);

article {
  scroll-snap-align: start;
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

article > section {
  background-color: var(--color-sec);
  padding: 2rem;
  border-radius: 2rem;
}
